<ion-view title="Edit Profile">
	<ion-content class="padding">
	<div class="list">
		<div class="item image">
			<img src="{{my_photo}}">
			<div class="inputs">
				<button class="button button-small button-stable" ng-click= "capture()"><i
						class="icon ion-ios7-camera"></i> Take Photo
				</button>
				<button ng-click="getPhoto()" class="button button-small"><i class="icon ion-ios7-photos-outline"></i>
					Select Photo
				</button>
			</div>
		</div>
		<div class="item details">
			<h2 class="item item-input item-icon-right ">
					<span class="input-label"><strong>Title</strong></span>
					<div class="title" contenteditable={{editable}} ng-model="info.title">{{info.title}}</div>
					<i class="icon " ng-class="{'ion-edit positive': !editable, 'ion-checkmark-round balanced': editable}" ng-click="toggle()"></i>
			</h2>
			<div class="item item-divider item-icon-right headers">Skill(s)<i class="icon ion-ios7-plus-empty positive" ng-click="addSkill()"></i></div>
			<div class="item skills item-icon-right subList" ng-repeat="skill in user_skill | orderBy: order">
			<!--<div class="item skills item-icon-right subList" ng-repeat="skill in user_skill | orderBy: order">-->
				<!--{{skill.skill.category.category_name}}-->
				<div class="row">
					<div class="col col-80">
						{{skill.skill.skill_name}}
					</div>
					<div class="col col-20">
						<i class="icon ion-ios7-minus-outline assertive" width="10px" ng-click="deleteSkill(skill.as_id)"></i>
					</div>
				</div>
			</div>
			<div class="item item-divider headers">Certification(s)</div>
			<div class="item certification subList" ng-repeat="certification in user_info.certification">
				{{certification.desc}}
			</div>
		</div>
	</div>
	</ion-content>
</ion-view>
