<ion-view title="Login">
	<ion-content class="padding login">
		<div class="row">
			<div class="col">
				<button class="button button-small button-block" id="fb"></button>
			</div>
			<div class="col">
				<button class="button button-small button-block" id="google"></button>
			</div>
		</div>
		<div class="list ">
			<form name="loginForm" novalidate>
				<label class="item item-input">
					<input class="form-control" type="email" placeholder="Email Address" required />
				</label>
				<label class="item item-input">
					<input class="form-control" type="password" placeholder="Password" required />
				</label>
			</form>
		</div>
		<button class="button button-block button-positive">Log In</button>
		<button class="button button-block button-assertive">Sign Up</button>
		<br>
		<button class="button button-clear button-stable" ng-click="skipLogin()">Skip Login</button>
	</ion-content>
</ion-view>