<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-dark">
		<h1 class="title">Profile</h1>
		<button class="button button-clear button-primary icon ion-close-circled" ng-click="profileModal.hide()"></button>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="list">
			<div class="item item-thumbnail-left" >
				<img src="img/SL.jpg">
				<h2 class="highlight">{{user_info.first_name + " " + user_info.last_name}}</h2>
				<h2 class="title">{{user_info.title}}</h2>
			</div>
			<div class="item reviews">
				<!--<rating ng-model="rate" max="max"></rating>-->
				<h4><span class="comments"><a href="#">See Comments/Feedbacks</a></span></h4>
			</div>
			<div class="item details">
				<h2><strong>Overview</strong></h2>
				<p>{{user_info.overview}}</p>
				<div class="item item-divider headers">Language(s)</div>
				<div class="item language subList" ng-repeat="language in user_info.language">
					{{language.desc}}
				</div>

				<!--<h2>Availability</h2>
				<div class="item schedule subList" ng-repeat="language in user_info.language">
				</div>-->
				<div class="item item-divider headers">Skill(s)</div>
				<div class="item skills subList" ng-repeat="skill in user_info.skill">
					{{skill.desc}}
				</div>
				<div class="item item-divider headers">Certification(s)</div>
				<div class="item certification subList" ng-repeat="certification in user_info.certification">
					{{certification.desc}}
				</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>