<ion-view title="Signup">
	<ion-content class="padding signup">
		<div class="row">
			<div class="col">
				<button class="button button-block button-small">I'm an Employer</button>
			</div>
			<div class="col">
				<button class="button button-block button-small">I'm a Skilled Laborer</button>
			</div>
		</div>
		<div class="list">
			<form name="signupForm" novalidate>
				<label class="item item-input">
					<input class="form-control" type="text" placeholder="First Name" required />
				</label>
				<label class="item item-input">
					<input class="form-control" type="password" placeholder="Password" required />
				</label>
			</form>
		</div>
		<button class="button button-block button-positive">Log In</button>
		<button class="button button-block button-assertive">Sign Up</button>
		<br>
		<button class="button button-clear button-stable" ng-click="skipLogin()">Skip Login</button>
	</ion-content>
</ion-view>