<ion-view title="Sign Up">
	<ion-content class="signup padding" >
		<form class="form-inline" novalidate>
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">
						Choose user type:
					</div>
					<select required>
						<option selected>I'm an Employer</option>
						<option>I'm a Skilled Laborer</option>
					</select>
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						City/Municipality
					</div>
					<select>
						<option selected>Buhi</option>
						<option>Naga City</option>
					</select>
				</label>
			</div>
			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-label">First Name</span>
					<input type="text" placeholder="First Name" class="form-control" ng-model="newUser.firstName" required>
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Last Name</span>
					<input type="text" placeholder="Last Name" class="form-control" ng-model="newUser.lastName" required>
				</label>
			</div>
			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-label">Address</span>
					<input type="text" placeholder="Address" class="form-control" ng-model="newUser.address" required>
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						City/Municipality
					</div>
					<select>
						<option selected>Buhi</option>
						<option>Naga City</option>
					</select>
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Zip Code</span>
					<input type="text" placeholder="Zip Code" class="form-control" required>
				</label>
			</div>
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">
						Gender
					</div>
					<select>
						<option selected>Male</option>
						<option>Female</option>
					</select>
				</label>
			</div>
			<label class="item item-input">
				<span class="input-label">Birth date</span>
				<input type="date" class="form-control" required>
			</label>
			<div class="list">
				<div class="card">
					<div class="item item-text-wrap">
						<label class="item item-input item-floating-label">
							<span class="input-label">Email Address</span>
							<input type="text" placeholder="Email Address" ng-value="sample[0].email" required />
						</label>
						<label class="item item-input item-floating-label">
							<span class="input-label">Password</span>
							<input type="password" placeholder="Password" required />
						</label>
						<p>------------------OR------------------</p>
						<div class="row">
							<div class="col">
								<button class="button btn-social btn-facebook button-small button-block">
									<i class="fa fa-facebook"></i> Sign in
								</button>
							</div>
							<div class="col">
								<button class="button btn-social btn-google-plus button-small button-block">
									<i class="fa fa-google-plus"></i> Sign in
									</a>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="list">
				<div class="item item-input-inset">
					<div class="row responsive-md">
						<div class="col col-75 number-input">
							<label class="item item-input">
								<input type="tel" placeholder="639123456789" class="form-control" required>
							</label>
						</div>
						<div class="col">
							<button class="button button-outline button-dark button-block verify">Verify Number</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<button class="button button-positive button-block">Create Account</button>
				</div>
				<div class="col">
					<button class="button button-assertive button-block">Cancel</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>