<ion-view title="Sign Up">
	<ion-content class="signup padding" >
		<form name="signupform" novalidate>
				<div class="card">
					<div class="item item-text-wrap">
						<label class="item item-input item-floating-label" ng-class="{'has-error' : signupform.email.$dirty && signupform.email.$invalid, 'no-error' : signupform.email.$dirty && signupform.email.$valid}">
							<span class="input-label">Email Address</span>
							<div class="row">
								<input type="email" name="email" placeholder="Email Address . . ." ng-model="newUser.email" required />
								<span class="error-handler col col-10 icon ion-alert-circled assertive" ng-show="signupform.email.$dirty && signupform.email.$invalid"></span>
								<span class="error-handler col col-10 icon ion-checkmark-circled balanced" ng-show="signupform.email.$dirty && signupform.email.$valid"></span>
							</div>
						</label>
						<label class="item item-input item-floating-label" ng-class="{'has-error' : signupform.password.$dirty && signupform.password.$invalid, 'no-error' : signupform.password.$dirty && signupform.password.$valid}">
							<span class="input-label">Password</span>
							<div class="row">
								<input type="password" name="password" placeholder="Password . . ." ng-model="newUser.password" required />
								<span class="error-handler col col-10 icon ion-alert-circled assertive" ng-show="signupform.password.$dirty && signupform.password.$invalid"></span>
								<span class="error-handler col col-10 icon ion-checkmark-circled balanced" ng-show="signupform.password.$dirty && signupform.password.$valid"></span>
							</div>
						</label>
						<label class="item item-input item-floating-label" ng-class="{'has-error' : signupform.confirm.$dirty && signupform.confirm.$invalid, 'no-error' : signupform.confirm.$dirty && signupform.confirm.$valid}">
							<span class="input-label">Password</span>
							<div class="row">
								<input type="password" name="confirm" placeholder="Confirm Password . . ." ng-model="newUser.confirm" match="newUser.password" required />
								<span class="error-handler col col-10 icon ion-alert-circled assertive" ng-show="signupform.confirm.$dirty && signupform.confirm.$invalid"></span>
								<span class="error-handler col col-10 icon ion-checkmark-circled balanced" ng-show="signupform.confirm.$dirty && signupform.confirm.$valid"></span>
							</div>
						</label>
						<p>------------------OR------------------</p>
						<div class="row">
							<div class="col">
								<button class="button btn-social btn-facebook button-small button-block">
									<i class="fa fa-facebook"></i> Sign in
								</button>
							</div>
							<div class="col">
								<button class="button btn-social btn-google-plus button-small button-block">
									<i class="fa fa-google-plus"></i> Sign in
									</a>
								</button>
							</div>
						</div>
					</div>
				</div>
			<div class="list">
				<label class="item item-input item-select" ng-class="{'no-error' : signupform.user_type.$dirty}">
					<div class="input-label">
						Choose user type:
					</div>
					<select ng-model="newUser.user_type" name="user_type" required>
						<option value="0" selected>I'm an Employer</option>
						<option value="1">I'm a Skilled Laborer</option>
					</select>
				</label>
			</div>
			<div class="list">
				<label class="item item-input item-floating-label" ng-class="{'has-error' : signupform.firstname.$dirty && signupform.firstname.$invalid, 'no-error' : signupform.firstname.$dirty && signupform.firstname.$valid}">
					<span class="input-label">First Name</span>
					<div class="row">
						<input type="text" name = "firstname"  placeholder="First Name . . ." class="form-control" ng-model="newUser.firstName" required />
						<span class="error-handler col col-10 icon ion-alert-circled assertive" ng-show="signupform.firstname.$dirty && signupform.firstname.$invalid"></span>
						<span class="error-handler col col-10 icon ion-checkmark-circled balanced" ng-show="signupform.firstname.$dirty && signupform.firstname.$valid"></span>
					</div>
				</label>
				<label class="item item-input item-floating-label" ng-class="{'has-error' : signupform.lastname.$dirty && signupform.lastname.$invalid, 'no-error' : signupform.lastname.$dirty && signupform.lastname.$valid}">
					<span class="input-label">Last Name</span>
					<div class="row">
						<input type="text" name="lastname"  placeholder="Last Name . . ." class="form-control" ng-model="newUser.lastName" required>
						<span class="error-handler col col-10 icon ion-alert-circled assertive" ng-show="signupform.lastname.$dirty && signupform.lastname.$invalid"></span>
						<span class="error-handler col col-10 icon ion-checkmark-circled balanced" ng-show="signupform.lastname.$dirty && signupform.lastname.$valid"></span>
					</div>
				</label>
			</div>
			<div class="list">
				<label class="item item-input item-floating-label" ng-class="{'has-error' : signupform.address.$dirty && signupform.address.$invalid, 'no-error' : signupform.address.$dirty && signupform.address.$valid}">
					<span class="input-label">Address</span>
					<div class="row">
						<input type="text" name="address" placeholder="Address . . ." class="form-control" ng-model="newUser.address" required>
						<span class="error-handler col col-10 icon ion-alert-circled assertive" ng-show="signupform.address.$dirty && signupform.address.$invalid"></span>
						<span class="error-handler col col-10 icon ion-checkmark-circled balanced" ng-show="signupform.address.$dirty && signupform.address.$valid"></span>
					</div>
				</label>
				<br>
				<label class="item item-input item-select" ng-class="{'no-error' : signupform.city.$dirty}">
					<div class="input-label">
						City/Municipality
					</div>
					<select ng-options="city for city in cities" ng-model="newUser.city" name="city">
					</select>
				</label>
				<label class="item item-input item-floating-label" ng-class="{'has-error' : signupform.zipcode.$dirty && signupform.zipcode.$invalid, 'no-error' : signupform.zipcode.$dirty && signupform.zipcode.$valid}">
					<span class="input-label">Zip Code</span>
					<div class="row">
						<input type="tel" name="zipcode" placeholder="Zip Code . . ." ng-model="newUser.zipcode" class="form-control" maxlength="4" minlength="4" required>
						<span class="error-handler col col-10 icon ion-alert-circled assertive" ng-show="signupform.zipcode.$dirty && signupform.zipcode.$invalid"></span>
						<span class="error-handler col col-10 icon ion-checkmark-circled balanced" ng-show="signupform.zipcode.$dirty && signupform.zipcode.$valid"></span>
					</div>
				</label>
			</div>
			<div class="list">
				<label class="item item-input item-select" ng-class="{'no-error' : signupform.gender.$dirty}">
					<div class="input-label">
						Gender
					</div>
					<select ng-model="newUser.gender" name="gender">
						<option value="m">Male</option>
						<option value="f">Female</option>
					</select>
				</label>
			</div>
			<label class="item item-input" ng-class="{'has-error' : signupform.birthdate.$dirty && signupform.birthdate.$invalid, 'no-error' : signupform.birthdate.$dirty && signupform.birthdate.$valid}">
				<span class="input-label">Birth date</span>
					<input type="date" name="birthdate" ng-model="newUser.birthdate" class="form-control" required>
			</label>
			<div class="list">
				<label class="item item-input item-floating-label" ng-class="{'has-error' : signupform.cpno.$dirty && signupform.cpno.$invalid, 'no-error' : signupform.cpno.$dirty && signupform.cpno.$valid}">
					<span class="input-label">Cellphone Number</span>
					<div class="row">
						<input type="tel" name = "cpno"  placeholder="Cellphone number <eg. 09xxxxxxxxx > . . ." class="col" ng-model="newUser.cpno" maxlength="11" minlength="11" required />
						<span class="error-handler col col-10 icon ion-alert-circled assertive" ng-show="signupform.cpno.$dirty && signupform.cpno.$invalid"></span>
						<span class="error-handler col col-10 icon ion-checkmark-circled balanced" ng-show="signupform.cpno.$dirty && signupform.cpno.$valid"></span>
					</div>
				</label>
				<!--<div class="item item-input-inset">-->
					<!--<div class="row">-->
						<!--<div class="number-input">-->
							<!--<label class="item item-input">
								<input type="tel" placeholder="09xxxxxxxxx" name="cellphone" class="form-control" required>
							</label>-->
						<!--</div>-->
						<!--<div class="col col-20">
							<button class="button button-outline button-dark verify">Verify Number</button>
						</div>-->
					<!--</div>-->
				<!--</div>-->
			</div>
			<div class="row">
				<div class="col">
					<button class="button button-positive button-block" ng-disabled="signupform.$invalid" ng-click="addUser(newUser)">Create Account</button>
				</div>
				<div class="col">
					<button class="button button-assertive button-block">Cancel</button>
				</div>
			</div>
		</form>

	</ion-content>
</ion-view>