<!--for employers' view-->
<ion-nav-buttons side="right">
    <button class="button button-clear icon ion-compose {{toggleSl}} {{toggleStalker}}" ng-click="openModal()"></button>
</ion-nav-buttons>
<!--for skilled laborers' view-->
<ion-view title="{{title}}">
    <ion-content class="padding">

        <div class="list card" ng-repeat="job in jobs">
            <div class="item bar bar-header bar-balanced" ng-if="job.status == 1 || job.clicked ">
                {{job.posting.skill.skillName}}
            </div>
			<div class="item bar bar-header bar-positive" ng-if="job.status == 0 && !job.clicked">
				{{job.posting.skill.skillName}}
			</div>
            <div class="item item-body job-post">
                <div class="category">
                    <h3>Category: {{job.posting.skill.category.categoryName}}</h3>
                </div>
                <div class="row row-center">
                    <div class="col col-75">
                        <div class="job-info">
                            <div class="description">
                                <p>{{job.posting.description}}</p>
                            </div>
                            <div class="location">
                                <p><label>Location:</label> {{job.posting.location}}</p>
                            </div>
                            <div class="required {{jobOffer}}">
                                <p><label>Required applicant(s):</label> {{job.posting.requiredApplicant}}<br>Slot(s) left: {{job.posting.requiredApplicant - job.posting.hired}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col avatar">
                        <img src={{job.posting.user.photo}}>
                        <h4>{{job.posting.user.firstName + " " + job.posting.user.lastName}}</h4>
                        <span class="datetime-posted"><i>{{jobPost.datetimePosted}}</i></span>
                    </div>
                </div>
            </div>
			<div class="item item-body skilled-laborer {{acceptedApp}}" ng-hide="job.clicked || job.status == 1">
				<div class="button-bar">
					<button class="button button-small button-balanced" ng-click="call(job.posting.user.cpNo)">
						<i class="icon ion-android-call"></i>
						Call
					</button>
					<button class="button button-small button-positive {{toggleStalker}} " ng-click="acceptOffer(job)">
						<i class="icon ion-thumbsup"></i>
						Accept
					</button>
					<button class="button button-small button-assertive {{toggleStalker}}" ng-click="declineOffer(job.appId,$index)">
						<i class="icon ion-thumbsdown"></i>
						Decline
					</button>
				</div>
			</div>
        </div>
    </ion-content>
</ion-view>
