<!--for employers' view-->
<ion-nav-buttons side="right">
	<button class="button button-clear icon ion-compose {{toggleSl}} {{toggleStalker}}" ng-click="openModal()"></button>
</ion-nav-buttons>
<!--for skilled laborers' view-->
<ion-view title="Job Post">
	<ion-content class="padding">
		<div class="list card" ng-repeat="jobPost in jobPosts">
			<div class="item bar bar-header {{jobPost.header}}">
				{{jobPost.skill.skillName}}
			</div>
			<div class="item item-body job-post">
				<div class="category">
					<h3>Category: {{jobPost.skill.category.categoryName}}</h3>
				</div>
				<div class="row row-center">
					<div class="col col-75">
						<div class="job-info">
							<div class="description">
								<p>{{jobPost.description}}</p>
							</div>
							<div class="location">
								<p><label>Location:</label> {{jobPost.location}}</p>
							</div>
							<div class="location">
								<p><label>Required applicant(s):</label> {{jobPost.requiredApplicant}}<br>Slot(s) left: {{jobPost.requiredApplicant - jobPost.hired}}</p>
							</div>
						</div>
					</div>
					<div class="col avatar">
						<img src={{jobPost.user.photo}}>
						<h4>{{jobPost.user.firstName + " " + jobPost.user.lastName}}</h4>
						<span class="datetime-posted"><i>{{jobPost.datetimePosted}}</i></span>
					</div>
				</div>
			</div>
			<div class="item apply">
				<button class="button button-block button-calm {{toggleStalker}} {{toggleEmployer}}" ng-click="applyUser(jobPost)" ng-disabled = "jobPost.hasApplied == 'Applied'"><i class="icon" ng-class="{'ion-alert': jobPost.hasApplied == 'Applied', 'ion-checkmark-round' : jobPost.hasApplied == 'Apply Job'}"></i> {{jobPost.hasApplied}}
				</button>
				<button class="button button-block button-positive button-outline {{toggleStalker}} {{toggleSl}} {{jobPost.closed}}" ng-disabled="jobPost.applications.pending==0" ng-click="viewApplicants(jobPost)"><i class="icon"></i> Applicants({{jobPost.applications.pending}})
				</button>
				<button class="button button-block button-dark button-outline {{toggleStalker}} {{toggleSl}} item-icon-right" ng-hide="jobPost.status==1" ng-click="evaluate(jobPost)">Details<i class="icon ion-chevron-right"></i>
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
