<!--for employers' view-->
<ion-nav-buttons side="right">
	<button class="button button-clear icon ion-compose {{toggle_sl}} {{toggle_stalker}}" ng-click="openModal()"></button>
</ion-nav-buttons>
<!--for skilled laborers' view-->
<ion-view title="Job Post">
	<ion-content class="padding">
		<div class="list card" ng-repeat="job_post in job_posts">
			<div class="item bar bar-header bar-positive {{header}}">
				{{job_post.skill.skill_name}}
				<span class="datetime-posted"><i>Posted on {{job_post.datetime_posted}}</i></span>
			</div>
			<div class="item item-body job-post">
				<div class="category">
					<h3>Category: {{job_post.skill.category.category_name}}</h3>
				</div>
				<div class="row row-center">
					<div class="col col-75">
						<div class="job-info">
							<div class="description">
								<p>{{job_post.description}}</p>
							</div>
							<div class="location">
								<p><label>Location:</label> {{job_post.location}}</p>
							</div>
							<div class="location">
								<p><label>Required applicants:</label> {{job_post.required_applicant}} ----> Remaining applicants: {{job_post.available}}</p>
							</div>
						</div>
					</div>
					<div class="col avatar">
						<img src={{job_post.user.photo}}>
						<h4>{{job_post.user.first_name + " " + job_post.user.last_name}}</h4>
					</div>
				</div>
			</div>
			<div class="item apply">
				<button class="button button-block button-calm {{toggle_stalker}} {{toggle_employer}}"><i class="icon ion-checkmark-round"></i> Apply Job
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
