<ion-view title="Account">
	<ion-content>
		<div class="list">
			<div class="item item-thumbnail-left">
				<img src="{{pic}}">
				<h2 class="highlight">{{name}}</h2>
				ID: {{id}}
				status: {{status}}
				user acc type: {{user_acc_type}}
				email: {{email}}
				first name: {{first_name}}
				last name: {{last_name}}
				user type: {{user_type}}
			</div>
		</div>
		<div class="list">

			<a class="item item-icon-left" ui-sref="tab.modify">
				<i class="icon ion-person"></i>Edit Profile
			</a>
			<a class="item item-icon-left" ui-sref="tab.modify">
				<i class="icon ion-settings"></i>Account Settings
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-log-out"></i>
				Log Out
			</a>


		</div>
	</ion-content>
</ion-view>
