<ion-view title="Skilled Laborer">
	<ion-content class="padding">
		<div class="list card" ng-repeat="info in skilled_laborer_info">
			<div class="item item-avatar">
				<img src={{info.user.photo}}>

				<h2 class="highlight">{{info.user.first_name + " " + info.user.last_name}} </h2>

				<h2 class="title">{{info.user.title}}</h2>
			</div>
			<div class="item item-body skilled-laborer">
				<div class="button-bar buttons ">
					<!--<rating ng-model="rate" max="max"></rating>-->
					<button class="button button-light icon ion-ios7-eye-outline" ng-click="viewProfile(info)"> View
						Profile
					</button>
					<button class="button icon ion-ios7-paperplane-outline button-balanced {{toggle_stalker}}" ng-click="call(info.number)">
						Send Job Offer
					</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
