<ion-view title="Account">
	<ion-content>
		<div class="list">
			<div class="item item-thumbnail-left">
				<img src="{{user.photo}}" alt="photo.png">
				<h2 class="highlight-thumbnail">{{user.firstName + " " + user.lastName}}</h2>
				<h2 class="title-thumbnail">{{user.title}}</h2>
			</div>
		</div>
		<div class="list">
			<!--For Employer-->
			<a class="item item-icon-left {{toggleSl}}" ui-sref="tab.job-post">
				<i class="icon ion-clipboard"></i>Job Posts
			</a>
			<a class="item item-icon-left {{toggleSl}}" ui-sref="tab.applicants">
				<i class="icon ion-ios7-people"></i>Sent Private Job Post
			</a>
			<!--For Skilled Laborer-->
			<a class="item item-icon-left {{toggleEmployer}}" ng-click="slAccount(0)">
				<i class="icon ion-filing"></i>Accepted Application
			</a>
            <a class="item item-icon-left {{toggleEmployer}}" ng-click="slAccount(1)">
                <i class="icon ion-ios7-paperplane-outline"></i>Private Job Offer
            </a>
			<a class="item item-icon-left" ui-sref="tab.modify">
				<i class="icon ion-person"></i>Edit Profile
			</a>
			<a class="item item-icon-left " ui-sref="tab.modify">
				<i class="icon ion-settings"></i>Account Settings
			</a>
			<a class="item item-icon-left" ui-sref="tab.modify">
				<i class="icon ion-alert-circled"></i>Submit an Issue to Developer
			</a>
			<a class="item item-icon-left" ng-click="logOut()">
				<i class="icon ion-log-out"></i>
				Log Out
			</a>
		</div>
	</ion-content>
</ion-view>
