<ion-view title="Login">
	<ion-content class="padding">
		<div class="form">
			<!--<div class="button-bar bar-light padding-vertical">
				<a class="button button-outline button-positive">Facebook</a>
				<a class="button button-outline button-assertive">Google</a>
			</div>-->

			<div class="row">
				<div class="col">
					<button class="button button-block" id="fb"></button>
				</div>
				<div class="col">
					<button class="button button-block" id="google"></button>
				</div>
			</div>
			<div class="list padding-vertical">
				<label class="item item-input">
					<input type="email" placeholder="Email Address">
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Password">
				</label>
			</div>
			<button class="button button-block button-positive">Log In</button>
			<button class="button button-block button-assertive">Sign Up</button>
			<br>
			<button class="button button-clear button-stable">Skip Login</button>
		</div>
	</ion-content>
</ion-view>