<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="ph.kim.jobportl" version="0.5.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>JobPortl</name>
    <description>A Job Portal Application</description>
    <author email="info@jobportl.com" href="http://www.jobportl.com">jobportl</author>
    <access origin="*"/>
    <content src="index.html" />

    <preference name="phonegap-version" value="3.6.3"/>
    <preference name="orientation" value="portrait"/>
    <preference name="fullscreen" value="false"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#000000"/>
    <preference name="android-installLocation" value="auto"/>

    <!--Icons-->
    <icon src="img/icon.png" width="57" height="57" />
    <icon src="img/icon/drawable-ldpi-icon.png" gap:platform="android" gap:density="ldpi" />
    <icon src="img/icon/drawable-mdpi-icon.png" gap:platform="android" gap:density="mdpi" />
    <icon src="img/icon/drawable-hdpi-icon.png" gap:platform="android" gap:density="hdpi" />
    <icon src="img/icon/drawable-xhdpi-icon.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="img/icon/icon/drawable-xxhdpi-icon.png" gap:platform="android" gap:density="xxhdpi" />
    <icon src="img/icon/drawable-xxxhdpi-icon.png" gap:platform="android" gap:density="xxxhdpi" />

    <!--Splash Screen-->
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="10000"/>

    <!--<platform name="android">-->
        <!-- you can use any density that exists in the Android project -->
        <gap:splash src="screen.png"/>
        <gap:splash src="resources/screen.png"/>
        <gap:splash src="resources/screen/ldpi/screen.png" gap:platform="android" density="port-ldpi"/>
        <gap:splash src="resources/screen/mdpi/screen.png" gap:platform="android" density="port-mdpi"/>
        <gap:splash src="resources/screen/hdpi/screen.png" gap:platform="android" density="port-hdpi"/>
        <gap:splash src="resources/screen/xhdpi/screen.png" gap:platform="android" density="port-xhdpi"/>
        <gap:splash src="resources/screen/xxhdpi/screen.png" gap:platform="android" density="port-xxhdpi"/>
        <gap:splash src="resources/screen/xxxhdpi/screen.png" gap:platform="android" density="port-xxxhdpi"/>
    <!--</platform>-->

    <!-- Phonegap plugins -->
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
        <param name="APP_ID" value="569148046553676"/>
        <param name="APP_NAME" value="JobPortl"/>
    </gap:plugin>
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1"/>
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2"/>
    <gap:plugin name="org.apache.cordova.file" version="1.3.1"/>
    <gap:plugin name="nl.x-services.plugins.toast" version="2.0"/>
    <gap:plugin name="com.phonegap.plugin.statusbar"/>
    <feature name="Toast">
        <param name="android-package" value="nl.xservices.plugins.Toast"/>
    </feature>
    <resources>
        <string name="fb_app_id">569148046553676</string>
        <string name="fb_app_name">JobPortl</string>
    </resources>
</widget>