.login {
	text-align: center;
	margin: 5%;
}

.input-label{
    font-family: Arial;
    font-size: 18px;
}
.button.button-small.button-outline.button-stable {
    border-color: #010205;
    background: transparent;
    color: #050505;
}

#login{
    background-image:url("../img/splash1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.item.item-input.item-floating-label {
    display: block;
    border-radius: 10px 10px 10px 10px;
    box-shadow:none;
    border-width: 3px;
    /*border-color: darkslategrey;*/
}

.box{

    opacity: 0.9;
    padding: 20px 10px 5px 10px;
    border-style: solid;
   /* border-width: 5px; */
    border-radius: 10px 30px 10px 30px;
    /*margin-bottom: 10px;*/
}
.list .card.app{
    background-color: lightblue;
    font-size: 50 pt;
}

img.logo{
    vertical-align: middle;
    margin-top: 25px;
    width: 215px;
    height: 50px;
}

img.icon{
    width: 280px;

}

.col.name{
    text-align: right;
}

.item.item-avatar.applicant.calm-border{
    border-width: 2px;
}
.item.evaluate.calm-border{
    border-width: 2px;
}

h2.jobportl {
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 6px 5px, rgba(255, 255, 255, 0.4) 0px -4px 30px;
}


#social-button {
	margin-bottom: 30px;
}

span.input-label.has-input {
	width: 0;
}

.line h3 {
	position: relative;
	margin-top: 20px;
}

.line h3.one {
	margin-top: 0;
}

.line h3.one:before {
	content: "";
	display: block;
	border-top: solid 1px black;
	width: 100%;
	height: 1px;
	position: absolute;
	top: 50%;
	z-index: 1;
}

.line h3.one span {
	background: #fff;
	padding: 0 20px;
	position: relative;
	z-index: 5;
}

#social-button {
	text-align: center;
	padding-left: 0;
}

.card p {
	text-align: center;
	margin: 15px 0;
}

.col.col-75.number-input {
	margin-bottom: 0;
}

/*.button.button.button-outline.button-dark.button-block.verify{
	margin: 0;
}*/

/*validation */
span.error-handler, {
	text-align: right;
}

label.has-error {
	-webkit-box-shadow: 1px 1px 1px 1px #ef4e3a;
	-moz-box-shadow: 1px 1px 1px 1px #ef4e3a;
	box-shadow: 1px 1px 1px 1px #ef4e3a;
}

label.no-error {
	-webkit-box-shadow: 1px 1px 1px 1px #66cc33;
	-moz-box-shadow: 1px 1px 1px 1px #66cc33;
	box-shadow: 1px 1px 1px 1px #66cc33;
}

/*Job Post*/
.datetime-posted {
	float: right;
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
}

.job-info p {
	text-align: left;
	margin: 5px 0;
}

.description p {
	text-indent: 20px;
}

.item.item-body.job-post {
	padding-top: 0px;
}

.category h3 {
	font-weight: bold;
}

.col.avatar {
	text-align: right;
}

.col.avatar h4 {
	margin-top: 5px;
	font-weight: bold;
}

.col.avatar img {
	position: relative;
	max-width: 40px;
	max-height: 40px;
	width: 100%;
	border-radius: 4px;
}

.item.apply {
	padding: 0;
}

.item.apply button {
	padding: 0;
	margin: 0;
}

/*Skilled Laborer*/
.item.item-body.skilled-laborer {
	border-top: none;
	padding: 16px 0px 0px 0px;
}

.buttons {
	float: right;
}

h2.highlight {
	font-size: 14px;
	font-weight: bolder;
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

h2.title {
	font-size: 12px;
	font-style: italic;
}
h2.highlight-thumbnail {
	font-size: 18px;
	font-weight: bolder;
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

h2.title-thumbnail {
	font-size: 15px;
	font-style: italic;
}

/*star rating */
ul.rating li {
	display: inline;
	border: 0px;
	background: none;
	padding: 6px 5px;
}

ul.rating li i {
	font-size: 25px;
}

/*for evaluation*/
.item.evaluate{
	border-top: none;
}
.item.evaluate.display{
	padding-top: 0;
}
textarea.evaluate{
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 3px;
}

.row.evaluate, .col.evaluate, .col.col-33.evaluate{
	/*padding: 5px 0;*/
}

.col.col-33.evaluate{
	text-align: right;
}

textarea.evaluate.display{
	resize:none;
	overflow: scroll;
}




::-webkit-input-placeholder {
	font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}



/*reviews*/
span.review {
	float: right;
	margin-right: 50px;
}

.item.reviews {
	border-top: none;
	padding-top: 0;
	padding-left: 0;
}

span.comments {
	float: right;
	font-style: italic;
}

span.comments a {
	text-decoration: none;
}

.item.details {
	border-top: none;
}

.item.details p {
	text-indent: 25px;
}

.item-divider.headers {
	font-weight: bold;
	padding-left: 2px;
	margin-top: 15px;
	padding-left: 16px;
}

.subList {
	padding: 5px 16px;
}

/*edit profile*/
.item.image {
	text-align: center;

}

.inputs, .inputs button {
	margin: 3px;
}

.inputs label {
	display: block;
	margin-top: 5px;
}
p.skill-set{
	text-indent: 0px !important;
	margin: 0;
}
.sub-list{
	padding-right: 10px;
	border: 1px solid #ddd;
	border-top: none;
}
.icons.col.col-10{
	text-align: right;
}
h2.item.item-input{
	padding-right: 10px;
}
h2.item-input.title{
	margin: 0;
	border: 1px solid #ddd;
}
.button-bar>.button .icon:before, .button-bar>.button:before {
	line-height:29px !important;
	margin-top: 0;
}
p.skill-set.invalid{
	color: red;
}